


body{
    margin:0;
    padding:0; 
    box-sizing: border-box; 
    font-size: 20px;
    font-family: "Comic sans MS";
    text-align: center;
    min-height:100vh;
}

.game-presentation {
    display:flex; flex-direction:column;
    justify-content:center; align-items:center;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    position: relative;
  }

#train-presentation {
    width: 700px;
    position: absolute;
    border-radius: 20%;
}

#virus-presentation {
   width: 300px;
   position: relative ;
   border: 3px solid rgb(250, 220, 53);
   border-radius: 50%;
   margin-left: 245px;
   margin-bottom: 150px;
}

h1 {
    font-size: 1.5em;
    -webkit-text-stroke: 2px black;
    color :rgb(133, 153, 133);
    position :relative;
    font-family: 'Faster One', cursive;
}

#arrow {
    width: 150px;
    position: relative;
}

body button {
border-radius: 15%;
padding: 10px 10px;
background-color: rgb(170, 8, 8);
font-size: 20px;
font-family:"Comic Sans MS";
color: white;
font-style: italic;
position :relative;
}

#game-board{
position: relative;
flex:1;
display:none;
height: 100vh;
}

#game-board canvas{
    position:absolute; left:0;top:0;
    width:100%; height:100%;
    object-fit: contain;
    background-color: rgb(219, 223, 219);
}