
body{
    margin:0;
    padding:0; 
    box-sizing: border-box; 
    font-size: 20px;
    font-family: "Comic sans MS";
    text-align: center;
    min-height:100vh;
    background-color: grey;
}

.game-presentation {
    display:flex; flex-direction:column;
    justify-content:center; align-items:center;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;

  }

  .presentation {
      display: inline;
  }

#train-presentation {
    width: 700px;
    position: relative;
    border-radius: 20%;
    
}

#virus-presentation {
   width: 330px;
   position: absolute ;
   border: 3px solid rgb(31, 30, 30);
   border-radius: 50%;
   top:60px;
   right:215px;
}

h1 {
    -webkit-text-stroke: 2px black;
    color :rgb(246, 249, 244);
    position :absolute;
    font-family: 'Faster One', cursive;
    transform: rotate(-16deg);
    letter-spacing: 5px;
    bottom : 600px;

}

#arrow {
    width: 150px;
    position: absolute;
}

#start-button {
    border-radius: 15%;
    padding: 10px 15px;
    background-color: rgb(200, 98, 17);
    font-family:'Faster One';
    font-size: 30px;
    color:black;
    font-style: italic;
    position :absolute;
    right:280px;
    top:425px;
}

p {
    color:whitesmoke;
    position: absolute;
    bottom: 150px;

}

#game-board{
    position: relative;
    flex:1;
    display:none;
    height: 100vh;
}

#game-board canvas{
    position:absolute; left:0;top:0;
    width:100%; height:100%;
    object-fit: contain;
    background-color: rgb(219, 223, 219);
}


#restart-button {
    border-radius: 15%;
    padding: 10px 15px;
    background-color: rgb(200, 98, 17);
    font-family:'Faster One';
    font-size: 30px;
    color:black;
    font-style: italic;
    position :absolute;
    visibility: hidden;
    margin-top: 680px;
    }
    
