
body{
    margin:0;
    padding:0; 
    box-sizing: border-box; 
    font-size: 20px;
    font-family: "Comic Sans MS";
    text-align: center;
    min-height:100vh;
}

.game-presentation {
    display:flex; flex-direction:column;
    justify-content:center; align-items:center;
    background-color: rgb(219, 223, 219);
    min-height: 100vh;
  }

#virus-presentation {
   width: 400px;
   border: 3px solid rgb(199, 198, 198);
   border-radius: 50%;
}

h1 {
    font-size: 1.5em;
    -webkit-text-stroke: 2px black;
    color :rgb(133, 153, 133)
}

#arrow {
    width: 150px;
}

body button {
border-radius: 15%;
padding: 10px 10px;
background-color: rgb(170, 8, 8);
font-size: 20px;
font-family:"Comic Sans MS";
color: white;
font-style: italic;
}

#game-board{
position: relative;
flex:1;
display:none;
height: 100vh;
}

#game-board canvas{
    position:absolute; left:0;top:0;
    width:100%; height:100%;
    object-fit: contain;
    background-color: rgb(219, 223, 219);
}